body{
background-color: bisque;
font-family: 'Redressed', cursive;
}

.heading{
color:red;
}

button{
background-color: goldenrod;
color:white;
}

.main{
color:goldenrod;
}

.footer{
position:fixed;
background-color:dimgrey;
color:white;
text-align:center;
bottom:0;
width:100%;
line-height:3;
font-size:18px;
text-shadow:5px 5px 5px goldenrod;
}